@charset "UTF-8";

html {
    font-size: 62.5%;
}
body {
    width: 100%;
    padding:0 0.0rem;
    margin: 0;

}
/******************header*********************************/
.header {
    background: rgb(185, 193, 191);
    top:0;
    left: 0;
    right: 0;
    display: flex;
    padding: 30px 0 30px 0;
    position: fixed;
    justify-content: space-between;
    transition: .5s;
    z-index: 10;
    opacity: 0.8;
}
.header.transform{
    background: rgba(255,255,255,0.9);
    padding: 20px;
}
.global-nav .nav-item {
    display: inline-block;
    margin:8px 30px;
}
.global-nav {
    width: 100%;
}
.global-nav .nav-item a {
    font-family: 'Shadows Into Light', cursive;
    margin: 0 40px;
    height: 30px;
    text-align: center;
    border-radius: 4px;
    color:black;
    font-size: 1.5rem;
    padding: 5px 5px;
    letter-spacing: 2px;
    transition:  0.15s;
}
.global-nav .nav-item a:hover{
    background-color: #ef5753;
    color: #d5caca;

}

/***************************body********************/
.container {
    padding-top: 50px;
}
body {
    text-align: center;
    font-size: 1.4rem;
    font-family: "Hiragino Maru Gothic ProN", Meiryo, sans-serif;
}
.site-title{
    font-family: 'Shadows Into Light', cursive;
    padding: 100px 30px 50px;
}
.site-title::before,
.site-title::after {
    content: '';
    display: inline-block;
    background-color: #606c76;
    vertical-align: middle;
    width: 140px;
    height: 2px;
    margin: 0 30px;
}
.float-left_title {
    font-family: 'Shadows Into Light', cursive;
}
.float-right_title {
    font-family: 'Shadows Into Light', cursive;
}
/**************about***********************/
.about_me_and_contact {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    display: inline-block;
}


.form_left {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
    float: left;
    width: 40%;
    margin-left: 20px;
}

.form_right {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
    float: right;
    width: 40%;
    margin-right: 20px;
}
.button {
    margin: 30px;
}

.skills {
    font-family: 'Shadows Into Light', cursive;
}

.skills_context {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    padding-bottom: 50px;
}

.skills_title {
    padding: 100px 30px 50px;
}

.skills_title::before,
.skills_title::after {
    content: '';
    display: inline-block;
    background-color: #606c76;
    vertical-align: middle;
    width: 140px;
    height: 2px;
    margin: 0 30px;
}
.skills_writing_sub_title,
.skills_wordpress_sub_title,
.skills_products_sub_title
{
    font-size: 20px;
    padding-top: 10px;
}
/*******************work**************************/
.work{
    padding-bottom: 50px;
}
.work_title
{
    padding: 100px 30px 50px;
    font-family: 'Shadows Into Light', cursive;
}
.work_title::before,
.work_title::after {
    content: '';
    display: inline-block;
    background-color: #606c76;
    vertical-align: middle;
    width: 140px;
    height: 2px;
    margin: 0 30px;
}
.work_context {
    display: table;
    width: 100%;
    margin-top: 60px;
    table-layout: fixed;
}
.work_child::after {
    content: '';
    position: absolute;
    background: no-repeat;
    background-size: 100% 100%;
    top:40%;
    left:0;
    height: 60%;
    width:100%;
    opacity: 0.2;
    transform: scaleY(-1);
}
.work_child {
    position: relative;
    display: table-cell;
}
.work_child.part1::after {
    background: url("../img/main_image/hao-pan-6AW09_kJMaw-unsplash.jpg") no-repeat;
    background-size: 100% 100%;
}

.work_child.part2::after {
    background: url("../img/main_image/img.png") no-repeat;
    background-size: 100% 100%;
}

.work_child.part3::after {
    background: url("../img/main_image/pawel-kadysz-CuFYW1c97w8-unsplash.jpg") no-repeat;
    background-size: 100% 100%;
}

.work_text {
    display: block;
    width: 100%;
}

.work_image {
    display: block;
    width: 100%;
    margin: 0 0 25%;
}
.work_des {
    position: relative;
    top:45%;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 50%;
    overflow-y: auto;
}
/******************footer**********************/
.footer {
    padding: 50px 50px 0 50px;
    display: inline-block;
    width: 100%;
    background-color: rgba(110, 103, 103, 0.7);
    list-style: none;
}
.footer_global-nav {
    font-family: 'Shadows Into Light', cursive;
    position: relative;
    float: right;
    width: 50%;
    list-style: none;
    display: list-item;
}
.footer_nav-item a {
    font-size: 2rem;
    color: #FFFFFF;
    position: absolute;
    margin-bottom: 10px;
    list-style: none;
}
.footer_nav-item::marker {
    color: #FFFFFF;
}
.footer_nav-item:hover::marker {
    color: #d33c43;
}

.footer_icon a {
    font-size: 2rem;
    list-style: none;
    color: #FFFFFF;
    position: relative;
    margin-bottom: 20px;
}
.footer_icon a::after {
    position: absolute;
    padding-top: 10px;
    content: '';
    bottom: -4px;
    left: 0;
    height: 2px;
    background: #d33c43;
    width: 100%;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
    opacity: 0.5;
}
.footer_icon a:hover::after {
    transform: scale(1, 1);
}
.footer_nav-item a::after {
    position: absolute;
    content: '';
    bottom: -4px;
    left: 0;
    height: 2px;
    background: #333;
    width: 100%;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
}
.footer_nav-item a:hover::after {
    transform: scale(1, 1);
}
.footer_icon {
    float: left;
    width: 50%;
    padding-bottom: 10px;
}
.copyright {
    font-family: "Hiragino Maru Gothic ProN", Meiryo, sans-serif;
    color: #FFFFFF;
    display: inline-block;
    float: right;
    margin-top: 100px;
    padding-bottom: 20px;
}

/*************contact**********************/
.contact_title {
    font-family: 'Shadows Into Light', cursive;
    padding-top: 50px;
}
.content_sub_title::before,
.content_sub_title::after {
    content: '';
    display: inline-block;
    background-color: #606c76;
    vertical-align: middle;
    width: 140px;
    height: 2px;
    margin: 0 30px;
}


.contact_desc {
    padding-bottom: 50px;
}
/*********contact_confirm*******************/
.contact_form{
    padding: 0 100px 20px 100px;
}
.content_confirm_sub_title::before,
.content_confirm_sub_title::after {
    content: '';
    display: inline-block;
    background-color: #606c76;
    vertical-align: middle;
    width: 140px;
    height: 2px;
    margin: 0 30px;
}
form {
    margin-bottom: 20px;
}

.content_complete_title {
    font-family: 'Shadows Into Light', cursive;
    padding-top: 50px;
}

/*****************about**********************/
.about_section {
    padding-top: 50px;
}
.about_main_title {
    font-family: 'Shadows Into Light', cursive;
}

.about_sub_title::before,
.about_sub_title::after {
    content: '';
    display: inline-block;
    background-color: #606c76;
    vertical-align: middle;
    width: 140px;
    height: 2px;
    margin: 0 30px;
}

.about_me_history_des {
    padding:30px 0 30px 0;
}
.about_my_info {
    display: flex;
    padding-bottom: 50px;
}

.about_my_icon {
    width: 40%;
    /*height: 200px;*/
    /*line-height: 200px;*/
    background-color: gainsboro;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    margin: 1.5em 15px 1.5em 15px;
}
.about_speech_balloon dl {
    display: flex;
    flex-wrap: wrap;
}
.about_speech_balloon dt {
    padding: 20px;
    width: 50%;
    margin: 0 0 10px 0;
    /*border-top-left-radius: 3px;*/
    /*border-bottom-left-radius: 3px;*/
    display: flex;
}
.about_speech_balloon dd {
    width: 50%;
    padding: 20px;
    margin: 0 0 10px 0;
    float: left;
    /*text-decoration:underline;*/
}

.about_speech_balloon {
    position: relative;
    display: inline-block;
    margin: 1.5em 0 1.5em 15px;
    padding: 7px 10px;
    width: 50%;
    /*min-width: 120px;*/
    /*max-width: 100%;*/
    color: #555;
    font-size: 16px;
    background: #FFF;
    border: solid 1px #555;
    box-sizing: border-box;
    border-radius: 10px;
}

.about_speech_balloon::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -29px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #FFF;
    z-index: 2;
}

.about_speech_balloon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -29px;
    margin-top: -14px;
    border: 14px solid transparent;
    border-right: 14px solid #555;
    z-index: 1;
}

/***********about_skill****************************/
.skill_sub_title {
    padding-bottom: 50px;
}

.skill_sub_title::before,
.skill_sub_title::after {
    content: '';
    display: inline-block;
    background-color: #606c76;
    vertical-align: middle;
    width: 140px;
    height: 2px;
    margin: 0 30px;
}

.skill_icon {
    display: inline-block;
    width: 150px;
    font-size: 9rem;
    padding: 30px 20px 20px 20px;
}
.skills_text {
    font-family: "Hiragino Maru Gothic ProN", Meiryo, sans-serif;
}
.programming_skill,
.web_production_skill,
.writing_skill {
    padding: 0.5em 20px;
    margin: 2em 0;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}
.inline_title {
    font-size: 2rem;
    position: relative;
    display: inline-block;
    margin: 30px 0 15px;
    padding-bottom: 10px;
}
.inline_title::before,
.inline_title::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #999;
}
.inline_title::before {
    bottom: 5px;
}
.inline_skill_des {
    padding:25px 0 25px 0;
}
.main_skill_icon {
    display: inline-block;
    width: 150px;
    font-size: 9rem;
    padding: 30px 20px 30px 20px;
}
.skills_writing,
.skills_wordpress,
.skills_products {
    width: 30%;
    padding: 0 25px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}
.skills_text {
    padding-bottom: 30px;
}

/*************固定背景******************/
.back_image {
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.after_about {
    background-image:
        url("../img/main_image/scott-graham-OQMZwNd3ThU-unsplash.jpg");
}

.after_skills {
    background-image:
        url("../img/main_image/artem-sapegin-ZMraoOybTLQ-unsplash.jpg");

}






